<GridLayout  id="main" actionBarHidden="true">
    <StackLayout class="degrade">
        <StackLayout>
            <Progress value="25" maxValue="100"   class="progress"></Progress>
        </StackLayout>
        <header-layout></header-layout>
            <StackLayout>
                <FlexboxLayout>
                    <Image class="logo" src="~/assets/quickly/logo.png"
                   ></Image>
                   <StackLayout class="info">
                         <Label text="Balayez vers le haut/bas" ></Label>
                   </StackLayout>
                </FlexboxLayout>
            </StackLayout>
            <StackLayout>
                <Label class="info" [text]="message" ></Label>
            </StackLayout>
            <StackLayout>
                <Image class="logo" src="~/assets/quickly/up.png" *ngIf="!verify"
                   ></Image>
            </StackLayout>

            <StackLayout  >
                <StackLayout #container flexDirection="column"
                width="200" height="550"
                verticalAlignment="top">
                <StackLayout  (pan)="onPan1($event)" #dragImage1 width="200" height="500" >
                    <StackLayout  width="200" height="225"
                     (tap)="selectImage(exercises.suggestions[0],$event)">
                        <Label [text]="exercises.suggestions[0].name" class="quiz"
                        #checked1></Label>
                        <Image [src]="imagePath(0,exercises.suggestions)"
                        stretch="aspectFit" verticalAlignment="top"
                        ></Image>
                    </StackLayout>
                    <StackLayout>
                        <Label class="switch" [text]="exercises.question" #checked3
                        (tap)="play_response()"></Label>
                    </StackLayout>
                    <StackLayout  width="200" height="225"
                    (tap)="selectImage(exercises.suggestions[1],$event)" >
                        <Label [text]="exercises.suggestions[1].name" class="quiz"
                        #checked2></Label>
                        <Image  [src]="imagePath(1,exercises.suggestions)"
                        stretch="aspectFit" verticalAlignment="top"
                        ></Image>
                    </StackLayout>
                </StackLayout>

            </StackLayout>

            </StackLayout>

            <StackLayout>
                <button   text="Suivant" *ngIf="verify"
                (tap)="routerExtensions.navigate(['home','qcm',item,title])"></button>
                <Image class="logo" src="~/assets/quickly/down.png" *ngIf="!verify"
                   ></Image>
            </StackLayout>

    </StackLayout>

</GridLayout>




<!-- <GridLayout #container width="100%" height="400" backgroundColor="gray">
    <Image #dragImage width="100" height="100" horizontalAlignment="left" verticalAlignment="top" (pan)="onPan($event)" src="~/assets/quickly/logo.png"
    ></Image>
</GridLayout> -->
