<GridLayout  id="main" actionBarHidden="true">
    <StackLayout class="degrade" *ngIf="exercises">
        <StackLayout>
            <Progress value="25" maxValue="100"   class="progress"></Progress>
        </StackLayout>
        <header-layout></header-layout>
            <StackLayout>
                <FlexboxLayout>
                    <Image class="logo" src="~/assets/quickly/logo.png"
                   ></Image>
                   <StackLayout class="info">
                         <Label [text]="exercises.question" ></Label>
                   </StackLayout>
                </FlexboxLayout>
            </StackLayout>
            <StackLayout>
                <Label text="" ></Label>
            </StackLayout>
            <StackLayout>
                <Label text="" ></Label>
            </StackLayout>
            <GridLayout columns="*" rows="*,*" width="400" height="500" *ngIf="exercises.suggestions"
            >
                <StackLayout col="0" row="0"  width="220" height="270">
                    <Label [text]="exercises.suggestions[0].name" class="quiz"></Label>
                    <Image [src]="imagePath(0,exercises.suggestions)"
                    stretch="aspectFit"
                    ></Image>

                </StackLayout>

                <StackLayout col="0" row="1" width="220" height="270">
                    <Label [text]="exercises.suggestions[1].name" class="quiz"></Label>
                    <Image [src]="imagePath(1,exercises.suggestions)"
                    stretch="aspectFit"
                    ></Image>
                </StackLayout>
              </GridLayout>
            <StackLayout>
                <Label text="" ></Label>
            </StackLayout>

            <StackLayout>
                <button   text="Vérifier"
                (tap)="routerExtensions.navigate(['home','qcm',item,title])"></button>
            </StackLayout>

    </StackLayout>

</GridLayout>

