<StackLayout>
    <FlexboxLayout justifyContent="space-between">
        <Image class="img" src="~/assets/quickly/cross.png"
         style="margin: 10;"
         (tap)="displayAlertConnection()"></Image>
         <FlexboxLayout  style="margin: 10;">
            <Image class="star" src="~/assets/quickly/star.png"
            style="margin: 10;"></Image>

            <Image class="star" src="~/assets/quickly/star.png"
            stretch="aspectFill" style="margin: 10;"></Image>

            <Image class="star" src="~/assets/quickly/star.png"
            stretch="aspectFill" style="margin: 10;"></Image>
         </FlexboxLayout>
         <Image class="star" src="~/assets/quickly/beaf.png"
         style="margin: 10;"></Image>
    </FlexboxLayout>
</StackLayout>
