<GridLayout  id="main" actionBarHidden="true">
    <StackLayout class="degrade">
        <StackLayout>
            <Progress value="25" maxValue="100"   class="progress"></Progress>
        </StackLayout>
            <header-layout></header-layout>
            <StackLayout>
                <FlexboxLayout>
                    <Image class="logo" src=" ~/assets/quickly/logo.png"
                   ></Image>
                   <StackLayout class="info">
                         <Label [text]= "exercises.question"></Label>
                   </StackLayout>
                </FlexboxLayout>
            </StackLayout>
            <StackLayout class="info">
                <Label [text]="message" ></Label>
            </StackLayout>
            <StackLayout>
                <Label text="" ></Label>
            </StackLayout>
            <GridLayout columns="*,*" rows="*,*" width="400" height="500" >
                <StackLayout col="0" row="0" style="margin: 5; border-radius: 20;">
                    <Image [src]="imagePath(0,exercises.suggestions)"
                    stretch="aspectFit"
                    ></Image>
                    <Label [text]="exercises.suggestions[0].name" class="quiz"
                    (tap)="selectImage(exercises.suggestions[0], $event)"
                    #checked1
                    ></Label>
                </StackLayout>

                <StackLayout col="1" row="0" style="margin: 5; border-radius: 20;">
                    <Image [src]="imagePath(1,exercises.suggestions)"
                    stretch="aspectFit"
                    ></Image>
                    <Label [text]="exercises.suggestions[1].name" class="quiz"
                    #checked2
                    (tap)="selectImage(exercises.suggestions[1], $event)" ></Label>
                </StackLayout>

                <StackLayout col="0" row="1" style="margin: 5; border-radius: 20;">
                    <Image [src]="imagePath(2,exercises.suggestions)"
                    stretch="aspectFit"
                    ></Image>
                    <Label [text]="exercises.suggestions[2].name" class="quiz"
                    (tap)="selectImage(exercises.suggestions[2], $event)"
                    #checked3></Label>
                </StackLayout>

                <StackLayout col="1" row="1" style="margin: 5; border-radius: 20;">
                    <Image [src]="imagePath(3,exercises.suggestions)"
                    stretch="aspectFit"
                    ></Image>
                    <Label [text]="exercises.suggestions[3].name" class="quiz"
                    (tap)="selectImage(exercises.suggestions[3], $event)"
                    #checked4></Label>
                </StackLayout>
              </GridLayout>
            <StackLayout>
                <Label text="" ></Label>
            </StackLayout>

            <StackLayout>
                <button text="Suivant" (tap)="sentResponse()"
                *ngIf="verify"></button>
            </StackLayout>
    </StackLayout>
</GridLayout>


