<ActionBar>
    <Label text="Quickly"></Label>
</ActionBar>

<!-- <GridLayout>
    <ListView [items]="items">
        <ng-template let-item="item">
            <StackLayout>
                <Label [nsRouterLink]="['../item', item.id]" [text]="item.name"></Label>
                <Label (tap)="routerExtensions.navigate(['/auth', 'default'])" [text]="item.name"></Label>
            </StackLayout>
            <StackLayout class="list-group-item">
                <ScrollView height="300" orientation="horizontal" >
                    <Label [nsRouterLink]="['../item', item.id]" [text]="item.name"></Label>
                </ScrollView>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout> -->



<!-- <GridLayout class="wrapper" rows="auto, *" loaded="onWrapperLoaded">

    <ScrollView id="scrollView" class="inner" row="1">
        <StackLayout>
            <Image src="~/images/tweet.png"></Image>>
            <Image src="~/images/tweet.png"></Image>>
            <Image src="~/images/tweet.png" ></Image>>
            <Image src="~/images/tweet.png" ></Image>>
            <Image src="~/images/tweet.png" ></Image>>
            <Image src="~/images/tweet.png"></Image>

            <Button text="TAP" tap="{{ onTap }}" class="btn btn-primary btn-active"></Button>
            <Label text="boss" class="h2 text-center" textWrap="true"></Label>

        </StackLayout>
    </ScrollView>

    <GridLayout id="bar" class="bar" row="0">
        <GridLayout columns="60, *, 60">
            <Image src="~/images/twitter-avatar.png" class="img-twitter-avatar" col="0"></Image>>
            <Label col="1" text="Home" style="font-weight: bold;text-align:center;"></Label>
            <Image src="~/images/twitter-star.png" class="img-twitter-star" col="2" ></Image>>
        </GridLayout>
    </GridLayout>

</GridLayout> -->
<StackLayout>
    <BottomNavigation class="bottom-nav">
        <TabStrip>
            <TabStripItem class="navigation__item" [nsRouterLink]="['../home']">
                <Label text="Home"></Label>
                <Image src="font://&#xf015;" class="fas t-36"></Image>
            </TabStripItem>
            <TabStripItem class="navigation__item" [nsRouterLink]="['../browse']">
                <Label text="Browse"></Label>
                <Image src="font://&#xf1ea;" class="far t-36"></Image>
            </TabStripItem>
            <TabStripItem class="navigation__item" [nsRouterLink]="['../auth']">
                <Label text="Auth"></Label>
                <Image src="font://&#xf002;" class="fas t-36"></Image>
            </TabStripItem>
        </TabStrip>

        <TabContentItem>
            <GridLayout  id="main" actionBarHidden="true">
                <StackLayout class="degrade">
                    <StackLayout>
                      <Label text=""></Label>
                    </StackLayout>
                    <StackLayout>
                        <Label text=""></Label>
                    </StackLayout>
                        <!-- <header-layout></header-layout> -->
                        <StackLayout>
                            <FlexboxLayout>
                                <!-- <Image class="logo" src=" ~/assets/quickly/logo.png"
                               ></Image> -->
                               <StackLayout class="info" style="text-align: center;">
                                     <Label text= "Cours" style="margin-top: 10;"></Label>
                               </StackLayout>
                            </FlexboxLayout>
                        </StackLayout>
                        <!-- <StackLayout class="info">
                            <Label [text]="message" ></Label>
                        </StackLayout> -->
                        <StackLayout>
                            <Label text="" ></Label>
                        </StackLayout>
                        <GridLayout columns="*,*,*" rows="*,*,*" width="400" height="500" *ngIf="lesson">
                            <StackLayout  col="0" row="0" style="margin: 5;" (tap)="navigate(0, lesson[0].title)">
                                <Image src="~/assets/icon-exo.PNG"
                                stretch="aspectFit"
                                ></Image>
                                <Label [text]="lesson[0].title"  style="color: white; text-align: center;
                                font-size: 15; font-weight: bold;"
                                ></Label>
                                <Label [text]="'SCORE : '+score[0]+'/'+80"  style="color: white; text-align: center;
                                   font-size: 15; font-weight: bold;"></Label>
                            </StackLayout>

                            <StackLayout  col="1" row="0" style="margin: 5;"(tap)="navigate(0, lesson[1].title)">
                                <Image src="~/assets/icon-exo.PNG"
                                stretch="aspectFit"
                                ></Image>
                                <Label [text]="lesson[1].title" style="color: white; text-align: center;
                                font-size: 15; font-weight: bold;"
                                ></Label>
                                <Label [text]="'SCORE : '+score[1]+'/'+80" color ="white"  style="color: white; text-align: center;
                                font-size: 15; font-weight: bold;"></Label>
                            </StackLayout>

                            <StackLayout  col="2" row="0" style="margin: 5;" (tap)="navigate(0, lesson[2].title)">
                                <Image src="~/assets/icon-exo.PNG"
                                stretch="aspectFit"
                                ></Image>
                                <Label [text]="lesson[2].title"  style="color: white; text-align: center;
                                font-size: 15; font-weight: bold;"
                                ></Label>
                                <Label [text]="'SCORE : '+score[1]+'/'+80" style="color: white; text-align: center;
                                font-size: 15; font-weight: bold;"></Label>
                            </StackLayout>

                            <StackLayout  col="0" row="1" style="margin: 5; border-radius: 20;">
                                <Image src="~/assets/icon-exo.PNG"
                                stretch="aspectFit"
                                ></Image>
                                <Label [text]="lesson[2].title"  style="color: white; text-align: center;
                                font-size: 15; font-weight: bold;"
                                ></Label>
                                <Label [text]="'SCORE : '+score[2]+'/'+80"  style="color: white; text-align: center;
                                    font-size: 15; font-weight: bold;"></Label>
                            </StackLayout>

                            <StackLayout  col="1" row="1" style="margin: 5; border-radius: 20;">
                                <Image src="~/assets/icon-exo.PNG"
                                stretch="aspectFit"
                                ></Image>
                                <Label text="Voyage"  style="color: white; text-align: center;
                                font-size: 15; font-weight: bold;"
                                ></Label>
                                <Label text="SCORE : 0/80" color ="white" style="text-align: center;"  style="color: white; text-align: center;
                                font-size: 15; font-weight: bold;"></Label>
                            </StackLayout>
                            <StackLayout  col="2" row="1" style="margin: 5; border-radius: 20;">
                                <Image src="~/assets/icon-exo.PNG"
                                stretch="aspectFit"
                                ></Image>
                                <Label text="Voyage"  style="color: white; text-align: center;
                                font-size: 15; font-weight: bold;"
                                ></Label>
                                <Label text="SCORE : 0/80"  style="color: white; text-align: center;
                                font-size: 15; font-weight: bold;"></Label>
                            </StackLayout>

                            <StackLayout  col="0" row="2" style="margin: 5; border-radius: 20;">
                                <Image src="~/assets/icon-exo.PNG"
                                stretch="aspectFit"
                                ></Image>
                                <Label text="Voyage" style="color: white; text-align: center;
                                font-size: 15; font-weight: bold;"
                                ></Label>
                                <Label text="SCORE : 0/80"  style="color: white; text-align: center;
                                font-size: 15; font-weight: bold;"></Label>
                            </StackLayout>

                            <StackLayout  col="1" row="2" style="margin: 5; border-radius: 20;">
                                <Image src="~/assets/icon-exo.PNG"
                                stretch="aspectFit"
                                ></Image>
                                <Label text="Voyage"  style="color: white; text-align: center;
                                font-size: 15; font-weight: bold;"
                                ></Label>
                                <Label text="SCORE : 0/80"  style="color: white; text-align: center;
                                font-size: 15; font-weight: bold;"></Label>
                            </StackLayout>
                            <StackLayout  col="2" row="2" style="margin: 5; border-radius: 20;">
                                <Image src="~/assets/icon-exo.PNG"
                                stretch="aspectFit"
                                ></Image>
                                <Label text="Voyage"  style="color: white; text-align: center;
                                font-size: 15; font-weight: bold;"
                                ></Label>
                                <Label text="SCORE : 0/80"  style="color: white; text-align: center;
                                font-size: 15; font-weight: bold;"></Label>
                            </StackLayout>

                          </GridLayout>
                        <StackLayout>
                            <Label text="" ></Label>
                        </StackLayout>

                        <!-- <StackLayout>
                            <button text="Suivant" (tap)="sentResponse()"
                            *ngIf="verify"></button>
                        </StackLayout> -->
                </StackLayout>
            </GridLayout>


        </TabContentItem>

        <TabContentItem>
            <page-router-outlet ></page-router-outlet>
        </TabContentItem>

    </BottomNavigation>

</StackLayout>





