<ActionBar>
    <Label text="Quickly"></Label>
</ActionBar>

<!-- <GridLayout>
    <ListView [items]="items">
        <ng-template let-item="item">
            <StackLayout>
                <Label [nsRouterLink]="['../item', item.id]" [text]="item.name"></Label>
                <Label (tap)="routerExtensions.navigate(['/auth', 'default'])" [text]="item.name"></Label>
            </StackLayout>
            <StackLayout class="list-group-item">
                <ScrollView height="300" orientation="horizontal" >
                    <Label [nsRouterLink]="['../item', item.id]" [text]="item.name"></Label>
                </ScrollView>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout> -->



<!-- <GridLayout class="wrapper" rows="auto, *" loaded="onWrapperLoaded">

    <ScrollView id="scrollView" class="inner" row="1">
        <StackLayout>
            <Image src="~/images/tweet.png"></Image>>
            <Image src="~/images/tweet.png"></Image>>
            <Image src="~/images/tweet.png" ></Image>>
            <Image src="~/images/tweet.png" ></Image>>
            <Image src="~/images/tweet.png" ></Image>>
            <Image src="~/images/tweet.png"></Image>

            <Button text="TAP" tap="{{ onTap }}" class="btn btn-primary btn-active"></Button>
            <Label text="boss" class="h2 text-center" textWrap="true"></Label>

        </StackLayout>
    </ScrollView>

    <GridLayout id="bar" class="bar" row="0">
        <GridLayout columns="60, *, 60">
            <Image src="~/images/twitter-avatar.png" class="img-twitter-avatar" col="0"></Image>>
            <Label col="1" text="Home" style="font-weight: bold;text-align:center;"></Label>
            <Image src="~/images/twitter-star.png" class="img-twitter-star" col="2" ></Image>>
        </GridLayout>
    </GridLayout>

</GridLayout> -->
<StackLayout>
    <BottomNavigation class="bottom-nav">
        <TabStrip>
            <TabStripItem class="navigation__item" [nsRouterLink]="['../home']">
                <Label text="Home"></Label>
                <Image src="font://&#xf015;" class="fas t-36"></Image>
            </TabStripItem>
            <TabStripItem class="navigation__item" [nsRouterLink]="['../browse']">
                <Label text="Browse"></Label>
                <Image src="font://&#xf1ea;" class="far t-36"></Image>
            </TabStripItem>
            <TabStripItem class="navigation__item" [nsRouterLink]="['../auth']">
                <Label text="Auth"></Label>
                <Image src="font://&#xf002;" class="fas t-36"></Image>
            </TabStripItem>
        </TabStrip>

        <TabContentItem>
            <GridLayout id="main">
                <StackLayout class="degrade">

                    <FlexboxLayout justifyContent="space-between" class="info" style="margin-top: 30;">
                        <Label text=""></Label>
                        <Label text="Cours"></Label>
                        <Label text=""></Label>
                    </FlexboxLayout>
                        <GridLayout backgroundColor ="#17a2b8" margin ="10" style="border-radius: 30;">
                            <ScrollView id="myScroller" orientation="vertical" >
                            <StackLayout  id="container" orientation="vertical" *ngIf="lesson">
                                <StackLayout *ngFor="let item of lesson;let index = index">
                                    <FlexboxLayout style="margin: 15 ;">
                                        <Image class="logo" src="~/assets/quickly/logo.png"
                                       ></Image>
                                       <StackLayout class="info">
                                             <Label [text]="item.title" color ="white" style="margin-left: 30;"></Label>
                                       </StackLayout>
                                    </FlexboxLayout>
                                    <StackLayout class="info">
                                        <Label [text]="'SCORE: '+score[index]+'/'+80" color ="white" style="text-align: center;"></Label>
                                        </StackLayout>
                                <StackLayout *ngFor="let element of item.Exercices;let index = index" >
                                <StackLayout>
                                    <FlexboxLayout style="margin-left: 20;">
                                        <Image src="~/assets/icon-exo.PNG"
                                        width="25" height="25"></Image>
                                        <Label [text]="element.type" class="info" style="margin-top: 18;"></Label>
                                        <Label text="Démarrer" class="eval"
                                        style="color: white; font-weight: bold; width: 100;
                                         font-size: 15;padding: 10; text-align: center;"
                                         (tap)="routerGame(index,item.title)" ></Label>
                                    </FlexboxLayout>

                                </StackLayout>
                               </StackLayout>
                               </StackLayout>
                              </StackLayout>
                              </ScrollView>
                         </GridLayout>
                </StackLayout>
            </GridLayout>

        </TabContentItem>

        <TabContentItem>
            <page-router-outlet ></page-router-outlet>
        </TabContentItem>

    </BottomNavigation>

</StackLayout>
