<GridLayout  id="main" actionBarHidden="true">
    <StackLayout class="degrade" *ngIf="exercises">
        <StackLayout>
            <Progress value="25" maxValue="100"   class="progress"></Progress>
        </StackLayout>
            <StackLayout>
                <FlexboxLayout justifyContent="space-between">
                    <Image class="img" src="https://d37sy4vufic209.cloudfront.net/images/topbar/cross-icon-16@2x-3e2d9bb3bb697f9cd949417a3c047ef8.png"
                     style="margin: 10;"></Image>
                     <FlexboxLayout  style="margin: 10;">
                        <Image class="star" src="https://d37sy4vufic209.cloudfront.net/images/quizzes/star-fill@2x-5b4bc07f39525c0b7bc899a385e671c5.png"
 style="margin: 10;"></Image>

                        <Image class="star" src="https://d37sy4vufic209.cloudfront.net/images/quizzes/star-fill@2x-5b4bc07f39525c0b7bc899a385e671c5.png"
                        stretch="aspectFill" style="margin: 10;"></Image>

                        <Image class="star" src="https://d37sy4vufic209.cloudfront.net/images/quizzes/star-fill@2x-5b4bc07f39525c0b7bc899a385e671c5.png"
                        stretch="aspectFill" style="margin: 10;"></Image>
                     </FlexboxLayout>
                     <Image class="star" src=" https://d37sy4vufic209.cloudfront.net/images/topbar/feedback-icon@2x-4686f19b9ed517d7babaf0bb0186beaf.png"
                     style="margin: 10;"></Image>
                </FlexboxLayout>
            </StackLayout>
            <StackLayout>
                <FlexboxLayout>
                    <Image class="logo" src=" https://d37sy4vufic209.cloudfront.net/images/quizzes/assistant-neutral-image-50x52@2x-f24e8c958592c4e8f3b73b63e852ea80.png"
                   ></Image>
                   <StackLayout class="info">
                         <Label text='Traduisez cette phrase' ></Label>
                   </StackLayout>
                    <!-- <Label text="Label 1" ></Label>
                    <Label text="Label 2" ></Label>
                    <Label text="Label 3" ></Label> -->
                </FlexboxLayout>
            </StackLayout>
            <StackLayout>
                <Label text="" ></Label>
            </StackLayout>
            <StackLayout>
                <FlexboxLayout justifyContent="space-between">
                    <Image class="img2" src="https://d37sy4vufic209.cloudfront.net/images/quizzes/speaker-icon@2x-34c4955ceccc85440f054b1f15f3ef61.png"
                    style="margin: 10;"></Image>
                    <Label [text]="exercises.statement" class="info"></Label>
                </FlexboxLayout>
            </StackLayout>
             <GridLayout  width="80%" height="200"
             horizontalAlignment="center" verticalAlignment="center"  >
                <TextView hint="Enter some text..."
                     [text]="tvtext"
                     class="info" style="background-color: whitesmoke;">
                </TextView>
                <!-- (textChange)="onTextChange($event) -->
              </GridLayout>
              <!-- <StackLayout> -->
                <!-- <FlexboxLayout style="margin: 5;" orientation="horizontal">
                    <v-template *ngFor="let item of exercises.suggestions">
                        <Label [text]="item" class="appr-label" ></Label>
                       </v-template>
                </FlexboxLayout> -->
              <!-- </StackLayout> -->
            <StackLayout>
                <Label text="" ></Label>
            </StackLayout>

            <StackLayout>
                <button text="Vérifier"
                (tap)="routerExtensions.navigate(['home','quatre-bis',4,title])"></button>
            </StackLayout>

    </StackLayout>

</GridLayout>

