<GridLayout  id="main" actionBarHidden="true" *ngIf="exercises">
    <StackLayout class="degrade">
        <!-- <StackLayout>
            <Progress value="25" maxValue="100"   class="progress"></Progress>
        </StackLayout> -->
         <header-layout></header-layout>
            <StackLayout>
                <FlexboxLayout>
                    <Image class="logo" src="~/assets/quickly/logo.png"
                   ></Image>
                   <StackLayout class="info">
                         <Label text='Traduisez cette phrase' ></Label>
                   </StackLayout>
                </FlexboxLayout>
            </StackLayout>
            <StackLayout class="info">
                <Label [text]="message"
                [ngClass]="{'goodmsg':verifyResponse, 'badmsg':!verifyResponse}" *ngIf="showResponse"></Label>
            </StackLayout>
            <StackLayout>
                <FlexboxLayout justifyContent="space-between">
                    <Image class="img2" src="~/assets/quickly/speaker.png"
                    style="margin: 10;"></Image>
                    <Label [text]="exercises.statement" class="info"></Label>
                </FlexboxLayout>
            </StackLayout>
            <StackLayout class="info">
                <Label [text]="goodResponse" ></Label>
            </StackLayout>
            <StackLayout>
                <Label text="" ></Label>
            </StackLayout>
             <GridLayout columns="*" rows="*,*"  width="97%" height="400" class="degrade2" style="border-radius: 20;"
             horizontalAlignment="center" verticalAlignment="center"  >
                <StackLayout col="0" row="0" style="background-color: honeydew;  border-radius: 20;"
               height="200" >
                    <FlexboxLayout style="margin-top: 40%;">
                        <v-template *ngFor="let item of responseList">
                            <Label [text]="item" class="appr-label"  style="color: white;"
                            [ngClass]="{'good':verifyResponse, 'bad':!verifyResponse}" *ngIf="showResponse"
                            (tap)="removeResponse(item)"></Label>

                            <Label [text]="item" class="appr-label"  style="color: white;" *ngIf="!showResponse"
                            (tap)="removeResponse(item)"></Label>
                        </v-template>
                    </FlexboxLayout>
                </StackLayout>

                <StackLayout  col="0" row="1">
                    <FlexboxLayout style="margin: 5;" orientation="horizontal" style="margin-top: 40%;">
                        <v-template *ngFor="let item of exercises.suggestions">
                            <Label [text]="item" class="appr-label" style="color: white;"
                            (tap)="apparier(item)" ></Label>
                           </v-template>
                    </FlexboxLayout>
                  </StackLayout>
              </GridLayout>

            <StackLayout>
                <Label text=""></Label>
            </StackLayout>

            <StackLayout>
                <button text="Vérifier" *ngIf="verify"
                (tap)="checkResponse()"></button>
            </StackLayout>

    </StackLayout>

</GridLayout>

