<ActionBar>
    <NavigationButton text="Bonjour" android.systemIcon="ic_menu_back"></NavigationButton>
</ActionBar>

<GridLayout id="main" >
    <ScrollView id="myScroller" orientation="horizontal" >
        <StackLayout id="container" orientation="horizontal" *ngIf="exercises">
            <!-- <StackLayout class="exercice" orientation="vertical"  backgroundColor="lightgray" >
                <Label text="Label x" id="leçon" ></Label> <br> <br>
                <Label text="Label x" width="50" height="50" ></Label>
                <Label text="Label x" width="50" height="50 "></Label>
            </StackLayout> -->
             <FlexboxLayout flexDirection="column" class="exercice" *ngFor="let item of exercises;let index  =index">
                 <StackLayout>
                    <Label text="" width="80" height="80" ></Label>
                 </StackLayout>
<!--
                 <StackLayout> -->
                    <Label text="Exercice" width="80" height="120"></Label>
                 <!-- </StackLayout> -->

                 <StackLayout>
                  <Label text="" width="80" height="80" ></Label>
               </StackLayout>
<!--
               <StackLayout> -->
                  <Label [text]="item.type" width="80" height="120"></Label>
               <!-- </StackLayout> -->

                 <StackLayout>
                    <Label text="" width="80" height="80" ></Label>
                 </StackLayout>

                <Label [text]="item.id+'/'+8" width="80" height="120" ></Label>

                <StackLayout>
                    <Label text="" width="80" height="80" ></Label>
                 </StackLayout>

                <!-- <Label text="Label 3" width="80" height="120" ></Label> -->
                <button  width="80" height="120" text="Demarrer"
                 (tap)="routerExtensions.navigate(['home','questionnaire',index,title])" ></button>
                 <!-- title: "Les animaux familiers", -->

              </FlexboxLayout>

        </StackLayout>
    </ScrollView>
</GridLayout>

